#navbar {
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
    border: solid 1px black;
  }
  input{
      width: 30%;
      height: 35px;
      border: 2px solid red;
      margin: 20px;
  }

  #options {
    display: flex;
    justify-content: space-between;
  }

  #options h3 {
    padding-left: 30px;
    padding-right: 10px;
  }
  #btn{
    width: 80px;
    margin-left: -10px;
    margin-top: -40px;
  }
  img{
    width: 400px;
  }
  #dataName{
    border: solid red 2px;
  }
  #dataImg{
    border: solid red 2px;
    justify-content: center;
  }
  p{
    font-size: 20px;
    width: 900px;
  }